// Colors
@soft-blue: hsl(243, 86%, 85%);
@very-dark-blue: hsl(243,87%, 12%);
@green: hsl(163, 95%,43%);
@dark-blue: hsl(243, 58%, 33%);
@gray: hsl(0,0,50%);

@top-section-left: #150F71;
@top-section-right: #6F6ABA;

// Fonts
@raleway: 'Raleway', sans-serif;
@open-sans: 'Open Sans', sans-serif;
@body-font-family: @open-sans;
@heading-font-family: @raleway;

// Breakpoints
@desktop: ~"(max-width: 1440px)";
@phone: ~"(max-width: 375px)";



